<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.chiari.pressureCollection</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>This app uses barometric pressure sensors to collect atmospheric pressure data for Chiari malformation research.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We send reminders at 8 AM, 12 PM, 4 PM, and 8 PM to log your daily symptoms as part of the Chiari research study.</string>
</dict>
</plist>
